body,html{
  height: 100vh;
  width: 100vw;

  padding: 0;
  margin: 0;

  overflow: hidden scroll;
}

h1{
  font-size: 2.5rem;
}

p,h2.li{
  margin-top: 0;
  margin-bottom: 0.5rem;
}
p,li{
  font-size: large;
}
a{
  text-decoration: none;
}

.horz{
  display: flex;
  flex-direction: row;

  flex-wrap: wrap;
}
.vert{
  display: flex;
  flex-direction: column;
}

.roundButtonSec{
  margin-right: 0.5rem;
  margin-bottom: 24px;
  width: fit-content;

  padding: 16px;

  font-size: 22px;

  cursor: pointer;
  color: var(--sec-text-col);

  background-color: var(--accent-col);
  border-radius: 10px;
}

.roundButtonSec:hover{
  padding: 15px;
  border: 1px solid black;
}

.wrappedText{
  max-width: 800px;
  line-break: loose;
  word-wrap: break-word;
}





:root{
  --text-color: 0,0,0;
  --sec-text-color:0,0,0;
  --color1: 0,0,0;
  --color2: 0,0,0; 
  --color3: 0,0,0;
}
.hacker{
  --text-color: 0,255,0;
  --sec-text-color: 0,255,0;
  --color1: 31, 31, 31;
  --color2: 80, 80, 80; 
  --color3: 0,0,0;
}
.light{
  --text-color: 0,0,0;
  --sec-text-color:0,0,0;
  --color3: 195, 198, 175;
  --color2: 156, 161, 127; 
  --color1: 111, 116, 88;
}
.dark{
  --text-color: 255,255,255;
  --sec-text-color: 220,220,220;
  --color1: 0, 48, 66;
  --color2: 0, 113, 158;
  --color3: 32, 32, 32;
}
body {
  --test:255,255,255;
  color: rgb(var(--text-color));
  background-color: rgb(var(--color3));
  margin: 0;
  padding: 0;

  font-size: 16px;
  font-family:Arial, Helvetica, sans-serif;

  transition: var(--transition-speed);

  --back-col:rgb(var(--color3));
  --accent-col: rgb(var(--color2));
  --sec-col:rgb(var(--color1));

  --text-col: rgb(var(--text-color));
  --sec-text-col:rgb(var(--sec-text-color));

  --transition-speed: 600ms;
}