p,h2{
  margin-top: 0;
  margin-bottom: 0.5rem;
}
a{
  text-decoration: none;
}

.horz{
  display: flex;
  flex-direction: row;
}
.vert{
  display: flex;
  flex-direction: column;
}

.roundButtonSec{
  margin-right: 0.5rem;
  margin-bottom: 32px;
  width: fit-content;

  padding: 16px;

  font-size: 22px;

  cursor: pointer;
  color: var(--sec-text-col);

  background-color: var(--accent-col);
  border-radius: 10px;
}

.roundButtonSec:hover{
  padding: 15px;
  border: 1px solid black;
}

.wrappedText{
  max-width: 800px;
}





:root{
  --text-color: #323232;
  --sec-text-color:white;
  --color1: white;
  --color2: white; 
  --color3: white;
}
.hacker{
  --text-color: lime;
  --sec-text-color: lime;
  --color1: rgb(31, 31, 31);
  --color2: rgb(80, 80, 80); 
  --color3: black;
}
.light{
  --text-color: black;
  --sec-text-color:black;
  --color3: rgb(195, 198, 175);
  --color2: rgb(156, 161, 127); 
  --color1: rgb(111, 116, 88);
}
.dark{
  --text-color: white;
  --sec-text-color: #f8f8f8;
  --color1: rgb(0, 48, 66);
  --color2: rgb(0, 130, 182);
  --color3: rgb(32, 32, 32);
}
body {
  color: var(--text-col);
  background-color: var(--back-col);
  margin: 0;
  padding: 0;

  font-size: 16px;
  font-family:Arial, Helvetica, sans-serif;

  transition: var(--transition-speed);

  --back-col:var(--color3);
  --accent-col: var(--color2);
  --sec-col:var(--color1);

  --text-col: var(--text-color);
  --sec-text-col:var(--sec-text-color);

  --transition-speed: 600ms;
}