main {
  margin-left: calc(3rem + 6%);
  padding: 0 0 1rem 0;
}

.nav-link{
  cursor: pointer;
}




nav {
  font-size: larger;

  z-index: 21;

  position: fixed;
  top: 0;
  width: calc(3.7rem + 2%);
  height: 100vh;

  background-color: var(--sec-col);
  transition: width var(--transition-speed) ease;
}

.nav-list{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 4rem;
  text-decoration: none;
  transition: var(--transition-speed);
  padding-left: 1rem;
  color: var(--sec-text-col);
}
.nav-link:has(.logo-text){
  height: 5rem;
}

.nav-link svg, .nav-link i {
  width: 2rem;
  font-size: 28px;
  transition: var(--transition-speed);
  text-align: center;
}

.link-text {
  display: none;
  margin-left: 1rem;
  text-align: center;
}

.logo-text {
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
  font-weight: bold;
  font-size: 2rem;
}

.nav-item:last-child {
  margin-top: auto;
}
.nav-item{
  width: 100%;
  background-color: var(--sec-col);
}

.nav-item:hover{
  color: var(--accent-col);
  background-color: #252525;
}
.nav-link:hover{
  color: var(--accent-col);
}

#active{
  color: var(--accent-col);
  background-color: #252525;
}






nav:is(:hover, :focus-within){
  width: calc(12rem + 2vw);
}

nav:is(:hover, :focus-within) .logo-image{
  transform: rotate(-180deg);
  margin-left: 9rem;
}

nav:is(:hover, :focus-within) .link-text{
  display: inline;
}

nav:is(:hover, :focus-within) .logo-text{
  left: 0px;
}




.has-dropdown{
  padding: 0;
}
.has-dropdown > div:first-child{
  padding: 20px;
}

.dropdown{
  z-index: 99;

  position: absolute;
  left: 0;
  margin-left: calc(12rem + 2vw);
  padding-left: 0;
  transform: translateY(-25%);

  width: calc(12rem + 2vw);

  opacity: 0;
  display: none;

  transition: var(--transition-speed);
}
.dropdown > li:first-child{
  border-radius:0 20px 0 0;
}

.has-dropdown:focus-within .dropdown{
  opacity: 1;
  pointer-events: auto;
  display: flex;
  flex-direction: column;
}
.has-dropdown:focus-within{
  background-color: #252525;
  color: var(--accent-col);
}